/.vs/
/tGis.App/GeneratedFiles/
/tGis.App/x64/
/x64/
*.VC.db
*.VC.VC.opendb
*.vcxproj.user
*.obj
/tGis.Core/x64/
/tGis.GuiTest/x64/
/tGis.GuiTest/GeneratedFiles/
/tGis.Utility/x64/
/tGis.Utility/GeneratedFiles/
